
body, html {
    text-align: center;
    font-family: 'Cormorant Garamond';
    background: url(../images/pexels-jess-bailey-designs-839443.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; */
    /* -ms-overflow-style: scrollbar; */
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
    
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 40px;
    display: inline-block
    
}

/* <!-- HEAD TITLE --> */
h1 {
    padding-top: 50px;
    font-weight: bold;
    font-size: 60px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 50px;
    color: #415257;
    text-shadow: 2px 2px 4px white;
   
   
}

h2 {
    padding-top: 50px;
    font-weight: bold;
    font-size: 40px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 30px;
    color: #415257;
    text-shadow: 2px 2px 4px white;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 100%;
  }

  .video-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* TOP VIDEO  */
.video1 {
    margin-top: 200px;
}

/* TOP FORM  */
.form1 {
    float: right;
    display: flex;
   
    /* *********** */

    /* padding: 25px 10px 10px 10px; */
    background-color: rgb(165, 172, 126);
    font-size: 22px;

    border-top: solid 3px white;
    border-bottom: solid 3px white;
    border-left: solid 3px white;
    border-right: solid 3px white;

    margin-top: 50px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 50px;

    padding-left: 20px;
    padding-top: 30px;
    /* padding-bottom: 2px; */
    padding-right: 100px;

}    

.pad {
    padding-bottom: 20px;
    width: 400px; 
    
}

input [type="text"],
input [type="email"],
textarea {
  width: 100%;
  height: 30px;
  border-radius: 10px !important;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  margin-left: 55px;
  padding-right: 55px;
  
} 

input:required {
    border: solid 2px white;
    margin-top: 10px;
}

.btn {
  border-radius: 25px !important;
  border: 3px solid white;
  color: white;
  background: #415257;
  width: 300px;
  height: 60px;
  font-size: x-large;
  margin-left: 100px;
  margin-bottom: 40px;  
}

.form-check {
    min-height: 100%;
    text-align: justify;
    line-height: 1.5;
    width: 500px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-right: 50px;
    padding-top: 4px;
    padding-left: 10px; 
}

.form-check input {
    padding: 8px;
    margin-right: 12px; 
} 

/* BENEFIT No. 1*/
.card { 
    background-color: #ccc;
    width: 400px;
    padding: 30px 7px 7px;
    border-radius: 8px;
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
  }

@media (max-width: 100px) {
    .card {
      width: 100%;
    }
  }
  
.card__inner {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
  }
  
.card__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 10px;
    box-shadow: 0 3px 0 #000;
  }
  
.card__title {
    font-size: 22px;
    font-weight: bold;
  }
  
.card__body {
    color: black;
    font-weight: bold;
}
 
.card--computer {
    background-color: rgb(241, 238, 25);
    color: #000;
}
  
.card--1 {
    background-color: rgb(165, 172, 126);
    color: #415257;
}
.col .card--1 {

    margin: auto;
    margin-top: 20px;
}

/* BENEFIT No. 2*/
.card--notes {
    background-color: rgb(241, 238, 25);
    color: #000;
}
  
.card--2 {
    background-color: rgb(165, 172, 126);
    color: #415257;
}

.col .card--2 {
    
    margin: auto;
    margin-top: 20px;
    
}

/* BENEFIT No. 3*/
.card--video {
    background-color: rgb(241, 238, 25);
    color: #000;
}
  
.card--3 {
    background-color: rgb(165, 172, 126);
    color: #415257;
}

.col .card--3 {
 
    margin: auto;
    margin-top: 20px;
}

/* BENEFIT No. 4*/
.card--briefcase {
    background-color: rgb(241, 238, 25);
    color: #000;
}
  
.card--4 {
    background-color: rgb(165, 172, 126);
    color: #415257;
}

.col .card--4 {
   
    margin-right: -50px; 
    margin: auto;  
    margin-top: 20px;
}

/* BENEFIT No. 5*/
.card--microchip {
    background-color: rgb(241, 238, 25);
    color: #000;
}
  
.card--5 {
    background-color: rgb(165, 172, 126);
    color: #415257;
}

.col .card--5 {
    margin: auto;
    margin-top: 20px;
   
}

/* BENEFIT No. 6*/
.card--self {
    background-color: rgb(241, 238, 25);
    color: #000;
}
  
.card--6 {
    background-color: rgb(165, 172, 126);
    color: #415257;
}

.col .card--6 {
  
    margin: auto;
    margin-top: 20px;
}

/* ABOUT ME VIDEO & CONTENT*/



.video2 {
    float: left;
    display: relative;
}

#profile-pic {
    width: 300px;
    height: auto;
    float: right;
    border: solid 5px rgb(165, 172, 126);
    border-radius: 50%;
    padding: 5px;
    margin-right: 30px;
    margin-top: 10px;
}
/* 
.col .content {
    margin-top: -50px;
} */

* {
    box-sizing:border-box;
}

aside {
    border: solic 5px white;
    background-color: green;
    width: 30%;
}
.col .vid-left {
    width: 200%;
}

.content__title p {
  
    width: 400px;
    border-radius: 8px;
   
    margin-top: 30px;
    
}


/* MORE REASONS TO SIGN-UP*/

section {
    background-color: rgb(243, 236, 224);
}

.reason__body {
    color: black;   
    font-weight: normal;
}
 
.reason__title p {
    font-weight: bold;
    font-size: x-large;
    margin: auto;
   
}

.reason__title i {
    background-color: rgb(165, 172, 126);
    border-color: white;
    font-size: x-large;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    border-radius: 25%;
}

/* MY WHYS*/

#my-why {

    border: solid 5px rgb(165, 172, 126);
    /* width: 950px;
    height: 250px;
    margin-left: 100px;
    padding: 0px;
    position: relative; */
   
}

#my-why {
    width: 500px;
    height: 300px;
    padding: 15px;
    display: flex;
    padding-left: 0px;
    margin: auto;
}
/* FORM 2 - BOTTOM */

.form2 {
    background-color: rgb(165, 172, 126);
    width: 500px;
    height: 300px;
    padding: 15px;
    display: flex;
    border: solid 5px white;
    padding-left: 0px;
    margin: auto;
    
}    

.pad {
    padding-bottom: 20px;
    width: 400px; 
    
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  height: 30px;
  border-radius: 10px !important;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  margin-left: 55px;
}

input:required {
    border: solid 2px white;
    margin-top: 10px;
}


.btn .form2 {
  border-radius: 25px !important;
  border: 3px solid white;
  color: white;
  background: #415257;
  padding: 10px;
  width: 300px;
  height: 60px;
  font-size: x-large;
  margin-left: 90px;
 
}

.form-check {
    min-height: 100%;
    text-align: justify;
    line-height: 1.5;
    width: 500px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-right: 70px;
    padding-top: 4px;
    padding-left: 80px; 
}

.form-check input {
    padding: 8px;
    margin-right: 12px; 
} 


/* FOOTER */

.quote p {
padding-top: 40px;
font-size: 22px;
background-color: none;

}

.footer {
  background-color: rgb(165, 172, 126);
  padding: 60px 20px;
}

.footer .small {
    font-size: 20px;
}

.footer a {
    color: white;
}  
.footer nav ul li {
    display: inline-block;
    font-size: 35px;
    margin: 0 10px;
}

.footer a:hover {
    color: skyblue;
}

/* THANK YOU PAGE - START NOW  */

.start-now {
    padding: 25px 10px 0px 10px;
    background-color: rgb(165, 172, 126);
    font-size: 22px;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    border-left: solid 3px white;
    border-right: solid 3px white;
    margin-top: 50px;
    margin-bottom: 50px;

}

.start-now-button {
    margin-left: -100px;
    margin-top: 10px;
}


/* THANK YOU PAGE - CAROUSEL  */

.video3 {
    margin-bottom: 50px;
}
.mySlider img{
    width: 50%;
    margin-top: 50px;
    margin-left: 350px;
  
}

.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: rgb(165, 172, 126);
    z-index: 10;
    font-size: 20px;
    cursor: pointer;
}

.slick-next{
    left: auto;
    right: 40px;
}

.slick-dots{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slick-dots button{
    display: none;
}

.slick-dots li{
    height: 20px;
    width: 20px;
    background-color: rgb(165, 172, 126);
    display: inline-block;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.slick-dots .slick-active{
    background-color: rgba(255, 255, 255, 0.5);
}

.mySlide{
    position: relative;
    background-color: white;
    padding-bottom: 50px;
    border-radius: 25px;
    
}

.mySlide h2{
    position: absolute;
    bottom: 100px;
    top: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #415257;
    font-size: 40px;
    text-align: center;
}

/* Thank you page - QUOTE  */

.quote-2 {
    background-color: rgb(243, 236, 224);
    margin-top: 50px;
    font-size: 20px;
    padding-top: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
   

   
}

.email {
    background-color: rgb(243, 236, 224);
   
      
}

.email-reminder {
    text-align: justify;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}